.App {
    text-align: left;
    padding-top: 800px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 20px;
    font-family: monospace;
    background-color: rgb(254, 254, 254);
  }
  
  .maintitle {
  font-size: 40px;
  }