html {
  border-left: 40px solid white;
  border-right: 40px solid white;
}

body {
  padding: 0;
  margin: 0;
  background-color: #84a5ff;/*#84a5ff;*/
  font-family: monospace;
  line-height: 1.6;
  font-size: 16px;
  display: flex;
  justify-content: center;
  color: white; /*white;*/
  /*border-block-end-style: solid;
  border-block-end-width: 15px;*/
}

.musiccontainer {
  height: 8em;
  display: flex;
  align-items: center;
  justify-content: left;
}

.musiclink {
  padding-left: 20px;
}

/*
* {
  box-sizing: border-box;
}*/

.column {
  float: left;
  flex: 50%;
}

.columnleft {
  padding-top: 15%;
  /*background-color: green;*/
  /*float: left;*/
  flex: 30%;
}

.columnright {
  padding: 20px;
  /*background-color: blueviolet;*/
  float: right;
  flex: 65%;
}

.biorow{
  background-color: #84a5ff;;
  padding: 15px;
  border-radius: 30px;
  display: flex
}
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  display: block;
}

.photolink{
  margin: 0;
}
.linkphoto{
  background-color: #84a5ff;
  margin:0
}
.linkphoto:hover{
  opacity: 0.5
}

Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #2b65ff;
  font-family: monospace;
  font-weight:bold;
  text-decoration: none;
  padding-right: 20px;
  /*padding-left: 5px;*/
}

a:hover {
  color: #0046ff;
  text-decoration: underline;
}

.contentbox{
  background-color: #84a5ff;;
  /*padding: 10px;
  border-radius: 30px;*/
  display: flex
}

