html,
body {
  padding: 0;
  margin: 0;
  background-color: rgb(98, 145, 238);
  font-family: monospace;
  line-height: 1.6;
  font-size: 16px;
  color: white
}

* {
  box-sizing: border-box;
}

a {
  color: #faa573;
  font-family: monospace;
  font-weight:bold;
  text-decoration: none;
  padding-right: 30px;
  padding-left: 5px;
}

a:hover {
  color: #ff7300;
  text-decoration: underline;
}

p {
  padding-left: 5px;
}

img {
  display: block;
}

Image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}